 * {
     font-size: 16px;
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
 }

 /* *, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */


 img {
     display: block;
     width: 200px;
     margin-left: auto;
     margin-right: auto;
     padding: 2px;
 }




 /* .rover-lateral {
   width: 400px;
   height: 200px;
   display: block;
 } */


 h1 {
     text-align: center;
     color: white;
     margin: 15px;
 }

 h2 {
     text-align: center;
     color: white;
     margin: 15px;
 }

 h3 {
     text-align: center;
     color: white;
     margin: 15px;
 }

 p {
     text-align: center;
     padding: 15px;
     color: white;
 }

 nav {
     text-align: center;
     margin: 10px;
     color: white;
     padding: 10px;

     transition: all 0.3s ease;
 }









 a {
     border-radius: 10px;
     color: white;
     text-decoration: none;

 }







 /* label,
 textarea {
 
 } */


 textarea {
     display: flex;
     justify-content: center;
     margin: 15px;
 }



 .new-account {
     text-align: center;
     margin: 15px;
     color: rgb(204, 0, 0);
 }

 .container-login {
     color: white;
     background-color: rgb(28, 32, 37);
     border-radius: 5px;
 }




 .user-container {
     background-color: rgb(168, 160, 150);
     margin: 15px;
     padding: 25px;
     border-radius: 10px;
     transition: all 0.3s ease;
 }

 .user-container:hover {
     background-color: rgb(93, 62, 62);
     transform: translateY(-8px);
     box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
 }



 .password-container {
     background-color: rgb(168, 160, 150);
     margin: 15px;
     padding: 25px;
     border-radius: 10px;
     transition: all 0.3s ease;
 }

 .password-container:hover {
     background-color: rgb(93, 62, 62);
     transform: translateY(-8px);
     box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
 }

 .remember-password {
     text-align: center;
     margin: 15px;
     background-color: rgba(255, 255, 255, 0.4);
     border-radius: 10px;
 }

 .register-link {
     text-align: center;
     margin: 15px;
     background-color: rgba(255, 255, 255, 0.4);
     border-radius: 10px;
 }

 /* ol {
     text-align: center;
     margin: 40px;
     color: white;
 }

 table {
     margin: 10px;
     color: white;
 } */

 /* table, th, td {
      border: 1px solid white;
}


 td {
    padding: 10px;
 } */



 footer {
     text-decoration: none;
     margin: 10px;
     text-align: center;
     color: white;
 }




 body {
     width: 100%;
     background-size: cover;
     background-image: url(./public/assets/00fondo.login.jpg);
     background-position: center;
     min-height: 100vh;
     background-repeat: no-repeat;
     min-width: max-content;
     display: block;
 }





 #form-login {
     color: rgb(203, 0, 0);
     width: 100%;
     max-width: 400px;
     /* Ideal para tarjetas de login verticales */
     padding: 40px 30px;
     margin: 80px auto;
     background: transparent;
     border: 2px solid #ffffff;
     border-radius: 12px;
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
     text-align: center;
     transition: all 0.3s ease;

     /* Generalmente los inputs se leen mejor alineados a la izquierda */
 }

 #form-login:hover {
     background-color: black;
     transform: translateY(-8px);
     box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);

 }

 #form-login #login-button {
     margin: 55px;

 }

 #form-login h2 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 28px;
 }





 #login-button {

     border-radius: 15px;
     border: 1px white inherit;
     color: white;
     font-family: monospace;
     width: 150px;
     height: 50px;
     background-color: rgb(29, 72, 103);
     transition: all 0.3s ease;
 }

 #login-button:hover {
     background-color: black;
     transform: translateY(-8px);
     box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
 }